# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
build/web/

# Coverage
coverage/

# VSCode
.vscode/

# Firebase (caso utilize geração automática)
firebase-debug.log
firebase-debug.*.log

# Fastlane (caso utilize)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Arquivos temporários
*.tmp
*.temp
*.orig
*.bak